<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
        <%= event.season %>
        <%= event.eventType %>
    </h1>
    <p>Date: <%= event.month %>, <%= event.day %>.</p>
    <p>Time: <%= event.hour %>:<%= event.minute %><%= event.amPm %></p>
    <p>Status: <% if (event.cancelled) {%>Cancelled<% } else { %>Confirmed<% } %></p>
    <a href="<%= event._id %>/edit">Edit this event</a>
    <form 
        action="<%= event._id %>?_method=DELETE" 
        method="POST">
        <button type="submit">Delete this event</button>
    </form>
</body>

</html>